.bigblue {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    /* text-align: center; */
    padding-left: 1.5%;
}

.graphs {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.graph2 {
    position: absolute;
    top: 80px;
    right: 1px;
    max-width: 50%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img {
    /* position: absolute;
    color: #ffffff;
    top: 500px;
    right: 0px;
    max-width: 50%;
    max-height: 45%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    float: left;
    margin-bottom: 10px; */
    width: 100%;
    height: 100%;
    background-color: black;
    min-height: 532px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img img {
    /* width: 90%; */
    /* height: 90%; */
    height : 50vh;
    object-fit: cover;
    border-radius: 10px;
}

.graphrps{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #ffffff;
    min-height: 533px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.graphvolt{
    width: 100%;
    height: 100%;
    background-color: black;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.graphdutyCycle{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #ffffff;
    min-height: 561px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.stats2 {
    margin-bottom: 10px;
    padding-left: 80px;
    color: #ffffff;
}

.stats2 li {
    display: inline;
    padding: 0 70px;
}


.stats {
    color: white;
    text-align: center;
    padding: 5px;
}

.stats li {
    display: inline; 
    padding: 20px 25px;
}

