.bigblue {
    color: DodgerBlue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.graphs {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 60px;
    float: left;
    margin-bottom: 10px;
}

.graph2 {
    position: absolute;
    top: 80px;
    right: 1px;
    max-width: 50%;
    border: 1px solid #ffffff;
    border-radius: 60px;
    float: left;
    margin-bottom: 10px;
}

.img {
    position: absolute;
    color: #ffffff;
    top: 500px;
    right: 0px;
    max-width: 50%;
    max-height: 20%;
    border: 1px solid #ffffff;
    border-radius: 60px;
    float: left;
    margin-bottom: 10px;
}

.img img {
    /* width: 90%; */
    /* height: 90%; */
    width: 950px;
    height: 420px;
    object-fit: cover;
    border-radius: 60px;
}

.stats2 {
    margin-bottom: 10px;
    padding-left: 80px;
    color: #ffffff;
}

.stats2 li {
    display: inline;
    padding: 0 70px;
}


.stats {
    margin-bottom: 10px;
    color: white;
}

.stats li {
    display: inline;
    padding: 0 70px;
}

