.bigblue {
    color: DodgerBlue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 60px;
    float: left;
    margin-bottom: 10px;
}

.stats {
    margin-bottom: 10px;
    color: white;
}

.stats li {
    display: inline;
    padding: 0 70px;
}
